:root {
  --rose: #d1c0bb;
  --white: #ffffff;
  --black: #0f0f0f;
  --purple: #735988;
  --light--rose: #f2d0bd;
  --text--black: #2f2f2f;
  --medium--rose: #d98989;
  --light--purple: #a68d85;
  --dark--purple--gray: #474f59;
  --dark--purple--blue: #1a2226;
  --light--purple--gray: #909090;
  --card--background: rgba(220, 220, 220, 0.7);
  --box--shaddow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
}
