@import url("./colors.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  overflow: hidden;
}

.container-sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-images {
  display: flex;
  height: 100vh;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--dark--purple--blue);
}

.container-images img {
  height: 200px;
  border-radius: 10px;
  border: 1.5px solid var(--white);
}

.container-images h3 {
  color: var(--light--rose);
}

.side-form {
  margin: 0 auto;
  padding: 100px 500px;
}

.side-form section {
  width: 500px;
  display: flex;
  padding: 60px 20px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: var(--box--shaddow);
  background: var(--card--background);
}

.side-form section h2,
.side-form section h4 {
  color: var(--dark--purple-gray);
}

.side-form div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.ipt {
  margin-top: 15px !important;
}

.btn {
  margin-top: 15px !important;
}

.logo {
  color: var(--medium--rose);
}

.make {
  color: var(--dark--purple--blue) !important;
}

#address .container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}
