<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link rel="stylesheet" href="../style/digital-art.css" />
    <link
      rel="shortcut icon"
      href="../assets/icons/logo.svg"
      type="image/x-icon"
      sizes="48x48"
    />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <a class="home-link" href="./index.html">
          <div class="logo">
            <span class="make">Make</span>
            <span>Your Art</span>
          </div>
        </a>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">
            <a href="./login.html">Login</a>
          </button>
          <button class="btn btn-tertiary-full-filled">
            <a href="./sign-up.html">Sign Up</a>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="filter-container">
        <div class="filter"><a href="./ui-ux.html">UI/UX</a></div>
        <div class="filter chosen"><a href="">Digital Art</a></div>
        <div class="filter"><a href="">Watercolor</a></div>
        <div class="filter"><a href="">Oil Painting</a></div>
        <div class="filter"><a href="">Other Techniques</a></div>
      </div>
    </main>
  </body>
</html>
