<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="../style/login.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link
      rel="shortcut icon"
      href="../assets/icons/logo.svg"
      type="image/x-icon"
      sizes="48x48"
    />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <a href="./index.html" class="home-link">
          <div class="logo">
            <span class="make">Make</span>
            <span>Your Art</span>
          </div>
        </a>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">Login</button>
          <button class="btn btn-tertiary-full-filled">Sign Up</button>
        </div>
      </div>
    </header>
    <main>
      <div class="container-login">
        <div class="side-image">
          <div class="container-images">
            <img src="../assets/img/art-one-login.jpg" alt="Image Login" />
            <h3>Art made with Photoshop</h3>
          </div>
        </div>
        <div class="side-form">
          <section>
            <h2>Welcome back!</h2>
            <form id="login">
              <input class="ipt ipt-email" type="email" placeholder="Email" />
              <input
                class="ipt ipt-password"
                type="password"
                placeholder="Password"
              />
              <span>
                <a href="#">Forgot password?</a>
              </span>
              <button class="btn btn-tertiary-full-filled">Login</button>
            </form>
            <div class="create-account-invite">
              <span
                >Don't have an account yet? Create your account
                <a href="#">here</a></span
              >
            </div>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
