<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <div class="logo">
          <span class="make">Make</span>
          <span>Your Art</span>
        </div>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">Sign In</button>
          <button class="btn btn-tertiary-full-filled">Sign Up</button>
        </div>
      </div>
    </header>
    <main></main>
  </body>
</html>
