<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/sign-up.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
    <link
      rel="shortcut icon"
      href="../assets/icons/logo.svg"
      type="image/x-icon"
      sizes="48x48"
    />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <a href="./index.html" class="home-link">
          <div class="logo">
            <span class="make">Make</span>
            <span>Your Art</span>
          </div>
        </a>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">
            <a href="./login.html">Login</a>
          </button>
          <button class="btn btn-tertiary-full-filled">
            <a href="./sign-up.html">Sign Up</a>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="container-sign-up">
        <div class="side-img">
          <div class="container-images">
            <img src="../assets/img/art-two-login.jpg" alt="Image Sign Up" />
            <h3>Art Made with Illustrator</h3>
          </div>
        </div>
        <div class="side-form">
          <section id="personal-information" style="display: block">
            <h2>
              Welcome to
              <span class="make">Make</span>
              <span class="logo">Your Art</span>
            </h2>
            <h4>Tell us a little about you</h4>
            <div>
              <input type="text" class="ipt" placeholder="Name" />
              <input type="text" class="ipt" placeholder="Age" />
              <input type="text" class="ipt" placeholder="Occupation" />
              <input type="email" class="ipt" placeholder="Email" />
              <input type="password" class="ipt" placeholder="Password" />
              <button
                class="btn btn-secondary-full-filled btn-margin"
                onclick="openAddressSection()"
              >
                Next
                <span style="margin-left: 5px">&#10095;</span>
              </button>
            </div>
          </section>
          <section id="address" style="display: none">
            <h2>
              Welcome to
              <span class="make">Make</span>
              <span class="logo">Your Art</span>
            </h2>
            <h4>Tell us where are you from</h4>
            <div>
              <input type="text" class="ipt" placeholder="Zip Code" />
              <input type="text" class="ipt" placeholder="City" />
              <input type="text" class="ipt" placeholder="State" />
              <input type="text" class="ipt" placeholder="Country" />
              <div class="container-buttons">
                <button
                  class="btn btn-tertiary-full-filled btn-margin"
                  onclick="backToPersonalInformation()"
                >
                  <span style="margin-right: 5px">&#10094;</span>
                  Back
                </button>
                <button
                  class="btn btn-secondary-full-filled btn-margin"
                  onclick="openTypeProfile()"
                >
                  Next <span style="margin-left: 5px">&#10095;</span>
                </button>
              </div>
            </div>
          </section>
          <section id="profile-type" style="display: none">
            <h2>
              Welcome to
              <span class="make">Make</span>
              <span class="logo">Your Art</span>
            </h2>
            <h4>Tell what kind of user you want to be</h4>
            <div class="type-profile">
              <div class="choice">
                <input type="radio" name="teacher" id="teacher" />
                <label for="teacher">Teacher</label>
              </div>
              <div class="choice">
                <input type="radio" name="student" id="student" />
                <label for="student">Student</label>
              </div>
            </div>
            <div class="container-buttons">
              <button
                class="btn btn-tertiary-full-filled btn-margin"
                onclick="backToAddressSection()"
              >
                <span style="margin-right: 5px">&#10094;</span>
                Back
              </button>
              <button class="btn btn-secondary-full-filled btn-margin">
                Finish
              </button>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../js/sign-up/signUpForm.js"></script>
  </body>
</html>
