<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="../style/ui-ux.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/normalize.css" />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <a href="./index.html" class="home-link">
          <div class="logo">
            <span class="make">Make</span>
            <span>Your Art</span>
          </div>
        </a>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">
            <a href="./login.html">Login</a>
          </button>
          <button class="btn btn-tertiary-full-filled">
            <a href="./sign-up.html">Sign Up</a>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="filter-container">
        <div class="filter chosen"><a href="./ui-ux.html">UI/UX</a></div>
        <div class="filter"><a href="">Digital Art</a></div>
        <div class="filter"><a href="">Watercolor</a></div>
        <div class="filter"><a href="">Oil Painting</a></div>
        <div class="filter"><a href="">Other Techniques</a></div>
      </div>
      <section class="arts">
        <div class="item">
          <img src="../assets/img/ui-art-two.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-one.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-three.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-four.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-five.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-six.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-seven.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-eight.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-nine.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-ten.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-eleven.webp" />
        </div>
        <div class="item">
          <img src="../assets/img/ui-art-twelve.webp" />
        </div>
      </section>
      <div class="footer-container">
        <div class="info-footer">
          <p>Links</p>
          <div class="links-footer">
            <a>About us</a>
            <a>Hire an artist</a>
            <a>Our partners</a>
            <a>What is Make Your Art?</a>
            <a>Privacy</a>
          </div>
        </div>
        <div class="info-footer">
          <p>Navigation</p>
          <div class="links-footer">
            <a>Home</a>
            <a>Join us</a>
            <a>Login</a>
            <a>Contact us</a>
          </div>
        </div>
        <div class="info-footer">
          <div class="logo">
            <span class="make make-footer">Make</span>
            <span>Your Art</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
