<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Art</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/normalize.css" />
    <link rel="stylesheet" href="./style/homepage.css" />
  </head>
  <body>
    <header>
      <div class="container-menu">
        <div class="logo">
          <span class="make">Make</span>
          <span>Your Art</span>
        </div>
        <div class="join-us">
          <button class="btn btn-primary-full-filled sign-in">Sign In</button>
          <button class="btn btn-tertiary-full-filled">Sign Up</button>
        </div>
      </div>
    </header>
    <div class="slideshow-container">
      <div class="slides fade">
        <h1>Watercolor</h1>
        <img src="./assets/img/watercolor.png" alt="Watercolor Painting" />
      </div>
      <div class="slides fade">
        <h1>Gouache</h1>
        <img src="./assets/img/gouache.jpg" alt="Gouache Painting" />
      </div>
      <div class="slides fade">
        <h1>Oil Painting</h1>
        <img src="./assets/img/oil.jpg" alt="Oil Painting" />
      </div>
      <div class="slides fade">
        <h1>Digital Art</h1>
        <img src="./assets/img/digital.jpg" alt="Digital Art" />
      </div>
      <main>
        <div class="filter-container">
          <div class="filter"><a href="">UI/UX</a></div>
          <div class="filter"><a href="">Digital Art</a></div>
          <div class="filter"><a href="">Watercolor</a></div>
          <div class="filter"><a href="">Oil Painting</a></div>
          <div class="filter"><a href="">Other Techniques</a></div>
        </div>
        <div class="invite-container">
          <h1>It's your time to be creative!</h1>
          <div class="slideshow-invite">
            <div>
              <img src="./assets/img/art-one.jpg" alt="Illustration" />
            </div>
            <div>
              <img src="./assets/img/art-two.jpg" alt="Illustration" />
            </div>
            <div>
              <img src="./assets/img/art-three.jpg" alt="Zelda Illustration" />
            </div>
            <div>
              <img
                src="./assets/img/art-four.jpg"
                alt="Link Zelda Illustration"
              />
            </div>
          </div>
          <div class="about-courses">
            <div class="user-buyer">
              <h3>Buy courses</h3>
              <div class="card-info">
                <span>Text test</span>
                <span>Text test</span>
                <span>Text test</span>
                <span>Text test</span>
              </div>
            </div>
            <div class="user-teacher">
              <h3>Sell and teach your lessons</h3>
              <div class="card-info">
                <span>Text test</span>
                <span>Text test</span>
                <span>Text test</span>
                <span>Text test</span>
              </div>
            </div>
          </div>
          <button class="btn btn-secondary-full-filled">Join Us</button>
        </div>
        <div class="footer-container">
          <div class="info-footer">
            <p>Links</p>
            <div class="links-footer">
              <a>About us</a>
              <a>Hire an artist</a>
              <a>Our partners</a>
              <a>What is Make Your Art?</a>
              <a>Privacy</a>
            </div>
          </div>
          <div class="info-footer">
            <p>Navigation</p>
            <div class="links-footer">
              <a>Home</a>
              <a>Join us</a>
              <a>Login</a>
              <a>Contact us</a>
            </div>
          </div>
          <div class="info-footer">
            <div class="logo">
              <span class="make make-footer">Make</span>
              <span>Your Art</span>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="./js/homepage/slideshow.js"></script>
  </body>
</html>
